.timeline{
    position: relative;
    padding-left: 70px;
}

/*Line*/
.timeline>li::before{
    content:'';
    position: absolute;
    width: 1px;
    background-color: #E7E7E7;
    top: 0;
    bottom: 0;
    left:-19px;
}

/*Circle*/
.timeline>li::after{
    text-align: center;
    padding-top: 10px;
    z-index: 10;
    content: close-quote;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid white;
    background-color: #E7E7E7;
    border-radius: 50%;
    top: 0;
    left: -34px;
}
.active_point::after{
    background-color: #01376e !important;
}

/*Content*/
.timeline>li{
    counter-increment: item;
    padding: 10px 10px;
    margin-left: 0px;
    min-height:70px;
    position: relative;
    background-color: white;
    list-style: none;
}
.timeline>li:nth-last-child(1)::before{
    width: 0px;
}

.tick_mark{
    width: 20px;
    position: absolute;
    left: -27px;
    z-index: 1111;
    top: 8px;
    color: #e7e7e7;
}